
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Arial', sans-serif;
}
body{
    background-image: url(./images/Design.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
/* func */
@keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 } 
 @keyframes fadeInup {
    0% {
       opacity: 0;
       transform: translateY(40px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }
 /* end func */
/* navbar */
.navbar{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1% 2%;
    background-color: #597D7C;
    animation: fadeInDown 1s;
    
}
.navbar ul{
    display:flex ;
    gap: 10%;
    list-style: none;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
}
.navbar ul li:hover{
    text-decoration: underline;
    transform: translateY(10px);
}
/* end navbar */
/* main */
/* left */
.left img{
    width: 50px;
    border-radius: 50%;
    border: solid;
}
.main h1{
    color: white;
} 
.left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    padding: 3%;
}
/* end left */
/* right */
.right img{
    width: 50px;
    border-radius: 50%;
    border: solid;
}
.right{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    padding: 3%;
}
/* end right */
.main{
    display: flex;
    padding: 0% 5% 5% 5%;
    animation: fadeInup 2s;
}
.bg{
    background-color: #597D7C;
    border-radius: 15px;
    padding: 2%; 
}