* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #fff;
    background-image: url(./images/Design.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    }
    /* func */
@keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 } 
 @keyframes fadeInup {
    0% {
       opacity: 0;
       transform: translateY(40px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }
 /* end func */
/* navbar */
.navbar{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1% 2%;
    background-color: #597D7C;
    animation: fadeInDown 1s;
    
}
.navbar ul{
    display:flex ;
    gap: 10%;
    list-style: none;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
}
.navbar ul li:hover{
    text-decoration: underline;
    transform: translateY(10px);
}
/* end navbar */
.projects-section {
    padding: 50px;
    animation: fadeInup 2s;
}

.project {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.project-text {
    flex: 1;
    margin-right: 20px;
}

.project-text h2 {
    font-size: 2em;
    color: #c3e4e7; 
    margin-bottom: 10px;
}

.project-text ul {
    margin-top: 10px;
    padding-left: 20px;
}


.box {
    width: 300px;
    height: 200px;
    background-color: lightblue;
    border-radius: 10px;
}

.project-samples-header {
    text-align: center;
    margin: 50px 0;
}

.project-samples-header h1 {
    font-size: 3em;
    font-family: 'Cursive', sans-serif;
    color: #fff;
    text-transform: lowercase;
}

.more-projects-button {
    text-align: center;
    margin-bottom: 50px;
}

.more-projects-button button {
    padding: 15px 30px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
}

.more-projects-button button:hover {
    background-color: #333;
}
